body {
  margin: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #79a57a54;
}
.header {
  text-align: center;
  background-color: rgb(57, 168, 150);
}
.lap {
  background-color:#808080;
  float: left;
  text-align: center;
  width: 100%;
  list-style: none;
}